/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 9, 2015, 11:01:30 PM
    Author     : fm
*/

body{
    font-family: sans-serif;
    font-weight: 100;
    background: #ccc;
}

h1{
    text-align: center;
    color: #666;
    text-shadow: 0px 2px 0px #fff;
}

button{
    background: #080;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    border: thin solid #060;
    margin: 5px auto;
}

button:hover{
    background: #0A0;
}

.nombre{
    font-size: 18px;
}

.curso{
    font-style: italic;
    font-size: 13px;
}

.wrapper{
    width: 650px;
    margin: 0 auto;
    border: thin solid #060;
    box-shadow: 5px 5px 5px #555;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
}

.contact-item{
    border-bottom: thin solid #ccc;
    padding: 10px;
}