<!--
<p>This is the partial for view 1.</p>
<p>
    Showing of 'interpolate' filter:
    {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
-->

<h1>Estrenos por paises</h1>

<!-- ng-click="loadMovies(country.code)" -->
<button class="btn btn-info" ng-click="loadMovies(type)" ng-repeat="country in countries">{{country.name}}</button>

<div class="pin-layout">
    <br/>
    <div ng-repeat="movie in movies">
        <div class="thumbnail">
            <h3 class="caption">{{movie.name}} - {{movie.year}} - {{movie.type}}</h3>
            <!--
            <p>{{movie.year}}</p>
            <p>{{movie.type}}</p>
            -->
        </div>
    </div>
</div>