<div ng-controller="AlumnosController" ng-controller="RobotsController">
    <ul class="menu">
        <li><a href="#/view1">view1</a></li>
        <li><a href="#/view2">view2</a></li>
    </ul>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-view></div>
    <ul class="menu">
        <li><a href="#/view1">view1</a></li>
        <li><a href="#/view2">view2</a></li>
    </ul>
    <div>Angular seed app: v <span app-version></span></div>
    <div class="wrapper">
        <select class="form-control" ng-change="loadrobots()" ng-model="robo">
            <option value="no">NO</option>
            <option value="si">SI</option>
        </select>
    </div>
    <h1>Cuadernos Alumnos</h1>
    <div class="wrapper">
        Buscar:<input ng-model="searchText"><br/><br/>
        <div class="contact-item" ng-repeat="alumno in alumnos | orderBy: 'nombre' | filter:searchText">
            <div class='nombre"'>{{alumno.nombre}} - {{alumno.telefono}}</div>
            <span class="curso">{{alumno.curso}}</span>
        </div>
    </div>
    <br/>
    <center><button ng-click="ShowForm()" ng-hide="FormVisibility">Añadir contacto</button></center>
    <div ng-show="FormVisibility" class="wrapper">
        <h2>Añadir contacto</h2>
        Nombre:<input type="text" ng-model="nuevoAlumno.nombre"/><br/><br/>
        Telefono:<input type="text" ng-model="nuevoAlumno.telefono"/><br/><br/>
        Curso:<input type="text" ng-model="nuevoAlumno.curso"/><br/>
        <button ng-click="Save()">Guardar</button>
    </div>
    <div>Angular seed app: v <span app-version></span></div>
    AngularJS fue creado por {{creadores}} hace solo {{2015 - 2009}} años.
</div>